.list {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 400px;
    border: 1px solid grey;
    list-style: none;    
}

.item {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    gap: 8px;
    align-items: center;
    max-width: 400px;
    border: 1px solid gray;
}

.online {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.offline {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.avatar {
    border: 1px solid gray;
    border-radius: 5%;
}

.name {
    font-weight: bold;
}