.table {
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 440px;
    border: 1px solid grey;
    list-style: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
}

.head {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(8, 122, 122);
    color: white;
}

.line {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    color: gray;
    font-size: 12px;
}

.line:nth-child(even) {
    background-color: #f2f2f2;
}

.type {
    text-transform: capitalize;
    text-align: left;
    padding-left: 30px;
}